html{
    height: 100%;
}
body{
    background: rgba(220, 228, 242, 0.36);
}
.home{

}
header{
    display: flex;
    text-align: center;
    flex-direction: row;
    background-color: rgba(117, 207, 224, 0.75);
    padding-bottom: 20px;
    margin: -10px;
}
.login{
    align-self: flex-end;
    min-width: 250px;
    height: 110px;
    font-size: 20px;
    margin: 15px 0 15px 180px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid #2c5091;
    border-radius: 30px;

}
.login a{
    text-decoration: none;
    color: #006953;
}
.login a:hover{
    color: #10223e;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 25px;
}
.titles{
    margin-left: 300px;
}
li{
    list-style-type: none;
    margin-top: 25px;
    text-align: center;
}
label {
    cursor: pointer;
}
input{
    width: 200px;
    height: 25px;
    font-size: 25px;
}
.block_register{
    background: #d5d5d5;
    margin-left: 27%;
    margin-right: 27%;
    margin-top: 3%;
    border: 3px solid black;
    border-radius: 7px;
    font-size: 30px;
}
button{
    background: #d5d5d5;
    border: 2px solid #2aabed;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 30px;
    margin-left: -40px;
}
button:hover{
    background: rgba(117, 207, 224, 0.75);
    cursor: pointer;
}
.title-form{
    color: #2c5091;
    font-size: 50px;
    margin-left: 150px;
}
.title-login{
    color: #2c5091;
    font-size: 50px;
    margin-left: -40px;
}
.errorLogin{
    color: #d9041d;
    margin-left: -50px;
}
.messageWelcome{
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    margin-top: 70px;
}
.messageNotLogged{
    margin-top: 80px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #4b42ed;
}
.messageUpload{
    margin-bottom: 170px;
    margin-top: 50px;
    font-size: 30px;
    margin-left: 35%;
}
.labelFile{
    margin-left: 30%;
    width: 100px;
    border: 1px solid black;
    padding: 150px;
}
.inputFile{
    display: none;
}