html{
    height: 100%;
}
body{
    background: rgba(220, 228, 242, 0.36);
}
.home{

}
header{
    display: flex;
    text-align: center;
    flex-direction: row;
    background-color: rgba(117, 207, 224, 0.75);
    padding-bottom: 20px;
    margin: -10px;
}
.login{
    align-self: flex-end;
    min-width: 250px;
    height: 110px;
    font-size: 20px;
    margin: 15px 0 15px 180px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid #2c5091;
    border-radius: 30px;

}
h1{
    font-size: 50px;
}
h2{
    font-size: 25px;
}
.titles{
    margin-left: 300px;
}
li{
    list-style-type: none;
    margin-top: 25px;
    text-align: center;
}
label {
    cursor: pointer;
}
input{
    width: 200px;
    height: 25px;
    font-size: 25px;
}
.block_register{
    background: #d5d5d5;
    margin-left: 27%;
    margin-right: 27%;
    margin-top: 3%;
    border: 3px solid black;
    border-radius: 7px;
    font-size: 30px;
}
.btnForm{
    background: #d5d5d5;
    border: 2px solid #2aabed;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 30px;
    margin-left: -40px;
}
.btnForm:hover{
    background: rgba(117, 207, 224, 0.75);
    cursor: pointer;
}
.title-form{
    color: #2c5091;
    font-size: 50px;
    margin-left: 150px;
}
.title-login{
    color: #2c5091;
    font-size: 50px;
    margin-left: -40px;
}
.errorLogin{
    color: #d9041d;
    margin-left: -50px;
}
.messageWelcome{
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    margin-top: 70px;
}
.messageNotLogged{
    margin-top: 80px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #4b42ed;
}
.hello{
    margin-top: 30px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}
.msgHome{
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.linkHome{
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
}
.messageUpload{
    margin-bottom: 170px;
    margin-top: 50px;
    font-size: 30px;
    margin-left: 35%;
}
.labelFile{
    width: 100px;
    border: 1px solid black;
    padding: 150px;
    margin-left: 25%;
}
.inputFile{
    display: none;
}
.icon_file, .spear{
    margin-bottom: -50px;
    width: 100px;
    height: 100px;
    opacity: 0.3;
}
.spear{
    margin-right: 20px;
    transform: rotate(320deg);
}
.labelFile:hover .icon_file, .labelFile:hover .spear{
    opacity: 1;
}
.labelFile:hover {
    background: #d5d5d5;
}
.link{
    font-size: 25px;
    color: #006953;
    margin: 30px;
}
a{
    text-decoration: none;
    color: #006953;
}
a:hover{
    color: #10223e;
}
.nameFile{
    font-size: 35px;
}
.icon_edit, .icon_delete{
    margin-left: 10px;
    width: 27px;
    height: 27px;
    cursor: pointer;
    opacity: 0.3;
}
.icon_edit:hover, .icon_delete:hover{
    opacity: 1;
}
#pop-up{
    display: none;
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
#pop-up:target{
    display: block;
}
.popUp {
    text-align: center;
    background-color: rgba(117, 207, 224, 0.75);
    padding: 20px;
    border: 20px solid #ddd;
    position: relative;
    margin: 5% auto;
    width: 30%;
    box-shadow: 0px 0px 20px #000;
    border-radius: 10px;
    height: 50%;
}
.edit{
    margin-right: 40px;
    margin-top: -20px;
    margin-bottom: 40px;
    font-size: 30px;
    float: left;
}
.inputEdit{
    margin-right: 50px;
    width: 80%;
    height: 40px;
}
#btnEdit{
    width: 60%;
    height: 20%;
    margin-top: 10%;
}
.exitPopup{
    margin-top: -40px;
    margin-left: 90%;
    font-size: 30px;
    float: right;
    cursor: pointer;
}
.ext{
    font-size: 1.5vw;
    margin-top: 15px;
    float: right;
    margin-right: 10px;
}
.icon_danger{
    width: 40px;
    height: 40px;
}