header{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(223, 224, 77, 0.75);
    margin: 0 50px;
    border-radius: 30px;
    padding-bottom: 20px;
}
.login{
    align-self: flex-end;
    width: 300px;
    height: 120px;
    font-size: 20px;
    margin: 15px 150px 15px 0;
    border: 3px solid black;

}
h1{
    font-size: 50px;
}
.titles{
    margin-left: 300px;
}
li{
    list-style-type: none;
    margin-top: 25px;
    text-align: center;
}
input{
    width: 200px;
    height: 25px;
}
.block_register{
    background: #d5d5d5;
    margin-left: 27%;
    margin-right: 27%;
    margin-top: 3%;
    border: 3px solid black;
    border-radius: 7px;
    font-size: 30px;
}
button{
    width: 70px;
    height: 30px;
    background: #d5d5d5;
    border: 2px solid #2aabed;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 30px;
}
button:hover{
    background: #2c5091;
    cursor: pointer;
}
.title-form{
    color: #2c5091;
    font-size: 50px;
    margin-left: 150px;
}